In [194]:
import pandas as pd
from sklearn  import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler

In [129]:
data = pd.read_csv('Train_Data.csv')
test= pd.read_csv('Test_Data.csv')

In [130]:
data.tail()
test.head()

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0

In [131]:
data.dtypes

date            object
campaign        object
adgroup         object
ad              object
impressions      int64
clicks           int64
cost           float64
conversions      int64
revenue        float64
dtype: object

In [132]:
le = preprocessing.LabelEncoder()
s=le.fit_transform(data.campaign)

In [133]:
test['campaignenc']=le.fit_transform(test.campaign)

In [134]:
test['adgrpenc']=le.fit_transform(test.adgroup)

In [135]:
test['adenc']=le.fit_transform(test.ad)

In [136]:
test.head()

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions,campaignenc,adgrpenc,adenc
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1,0,0,0
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0,0,2,0
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0,0,3,0
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0,0,1,0
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0,0,1,2

In [137]:
data['campaignenc']= s

In [138]:
data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,campaignenc
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0

In [139]:
v=le.fit_transform(data.adgroup)

In [140]:
data['adgrpenc']=v

In [141]:
u=le.fit_transform(data.ad)
data['adenc'] = u

In [142]:
data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,campaignenc,adgrpenc,adenc
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0,0,0
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0,1,0
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0,2,0
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0,3,0
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0,0,11

In [143]:
data.tail()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,campaignenc,adgrpenc,adenc
4566,28-02-2021,campaign 1,adgroup 3,ad 55,19,6,0.07,0,0.0,0,2,50
4567,28-02-2021,campaign 1,adgroup 4,ad 55,1,0,0.00,0,0.0,0,3,50
4568,28-02-2021,campaign 1,adgroup 3,ad 56,16,8,0.12,1,93.2,0,2,51
4569,28-02-2021,campaign 1,adgroup 1,ad 56,37,13,0.23,0,0.0,0,0,51
4570,28-02-2021,campaign 1,adgroup 1,ad 55,19,10,0.14,0,0.0,0,0,50

In [144]:
data['dateenc'] = le.fit_transform(data.date)

In [145]:
test['dateenc'] = le.fit_transform(test.date)

In [146]:
data.head()
data.shape
test.shape

(318, 12)

In [147]:
day = []
month =[]
year=[]
for i in range(4571):
    day.append(data['date'][i][:2])
    month.append(data['date'][i][3:5])
    year.append(data['date'][i][6:])
day
data['dayenc']=day
data['monthenc']=month
data['yearenc']=year
data.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,campaignenc,adgrpenc,adenc,dateenc,dayenc,monthenc,yearenc
0,01-08-2020,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0,0,0,2,01,08,2020
1,01-08-2020,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0,1,0,2,01,08,2020
2,01-08-2020,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0,2,0,2,01,08,2020
3,01-08-2020,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0,3,0,2,01,08,2020
4,01-08-2020,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0,0,11,2,01,08,2020

In [148]:
tday = []
tmonth =[]
tyear=[]
for i in range(318):
    tday.append(test['date'][i][:2])
    tmonth.append(test['date'][i][3:5])
    tyear.append(test['date'][i][6:])
day
test['dayenc']=tday
test['monthenc']=tmonth
test['yearenc']=tyear
test.head()

,date,campaign,adgroup,ad,cost,impressions,clicks,conversions,campaignenc,adgrpenc,adenc,dateenc,dayenc,monthenc,yearenc
0,01-03-2021,campaign 1,adgroup 1,ad 1,0.58,121,49,1,0,0,0,0,01,03,2021
1,01-03-2021,campaign 1,adgroup 3,ad 1,0.17,22,12,0,0,2,0,0,01,03,2021
2,01-03-2021,campaign 1,adgroup 4,ad 1,0.05,5,3,0,0,3,0,0,01,03,2021
3,01-03-2021,campaign 1,adgroup 2,ad 1,0.01,2,1,0,0,1,0,0,01,03,2021
4,01-03-2021,campaign 1,adgroup 2,ad 2,0.01,3,1,0,0,1,2,0,01,03,2021

In [170]:
df = data.drop(['campaign','adgroup','ad','date'],axis=1)
dft = test.drop(['campaign','adgroup','ad','date'],axis=1)
df2 = data.drop(['campaign','adgroup','ad','date','dateenc'],axis=1)

In [150]:
dft.head()

,cost,impressions,clicks,conversions,campaignenc,adgrpenc,adenc,dateenc,dayenc,monthenc,yearenc
0,0.58,121,49,1,0,0,0,0,01,03,2021
1,0.17,22,12,0,0,2,0,0,01,03,2021
2,0.05,5,3,0,0,3,0,0,01,03,2021
3,0.01,2,1,0,0,1,0,0,01,03,2021
4,0.01,3,1,0,0,1,2,0,01,03,2021

In [151]:

x

array([  2,   2,   2, ..., 190, 190, 190])

In [171]:
X_train=df.drop('revenue',axis=1)
X_train1=df2.drop('revenue',axis=1)

In [153]:
X_train.head()

,impressions,clicks,cost,conversions,campaignenc,adgrpenc,adenc,dateenc,dayenc,monthenc,yearenc
0,24,6,0.08,0,0,0,0,2,01,08,2020
1,1,0,0.00,0,0,1,0,2,01,08,2020
2,13,4,0.04,0,0,2,0,2,01,08,2020
3,5,4,0.08,0,0,3,0,2,01,08,2020
4,247,126,1.29,4,0,0,11,2,01,08,2020

In [154]:
dft.head()

,cost,impressions,clicks,conversions,campaignenc,adgrpenc,adenc,dateenc,dayenc,monthenc,yearenc
0,0.58,121,49,1,0,0,0,0,01,03,2021
1,0.17,22,12,0,0,2,0,0,01,03,2021
2,0.05,5,3,0,0,3,0,0,01,03,2021
3,0.01,2,1,0,0,1,0,0,01,03,2021
4,0.01,3,1,0,0,1,2,0,01,03,2021

In [155]:
y_train = df['revenue']

In [156]:
y_train.head()

0      0.00
1      0.00
2      0.00
3      0.00
4    925.71
Name: revenue, dtype: float64

In [157]:
lr = LinearRegression()

In [192]:
lr.fit(X_train, y_train)
lr.fit(X_train1, y_train)

LinearRegression()

In [172]:
lr.predict(X_train)
lr.score(X_train, y_train)

0.9402359994401038

In [175]:

print("traing score  ",accuracy_score(y_train,lr.predict(X_train)))
#print("testing score  ",accuracy_score(y_test,lr.predict(X_tests)))

ValueError: continuous is not supported

In [161]:
target = lr.predict(dft)

In [162]:
res = pd.DataFrame(target)

In [163]:
res.index= dft.index

In [165]:
res.columns = ["revenue"]
res.to_csv("prediction_results1.csv", index = False)

In [179]:
clf.fit(X_train,y_train)

Lasso(alpha=0.1)

In [193]:
lr.score(X_train1,y_train)

0.940235834471643

In [183]:
clf.predict(dft)

array([ 4.94908519e+01, -8.60900243e+01, -4.57378566e+01, -3.89074071e+01,
       -3.71629069e+01, -4.00049211e+01, -2.27459311e+02, -2.04055531e+01,
       -7.15736672e+01, -6.29946455e+01,  3.80654174e+02, -1.06401288e+02,
       -6.05068127e+01,  4.62297148e+01, -4.95892002e+01,  1.50180866e+02,
       -8.21956219e+01, -4.63765092e+01, -1.03619918e+02,  9.21616696e+01,
       -2.02066381e+01, -1.85126879e+02, -4.51824465e+01,  1.99091812e+02,
       -2.90498982e+01, -4.34379464e+01,  5.00827148e+02, -1.94492197e+02,
       -5.07050540e+01, -3.06475392e+01,  5.41529156e+02, -4.95517897e+01,
        8.69418430e+02,  3.11129688e+02,  1.42445452e+02, -4.13317297e+01,
       -4.33699414e+01, -5.28810582e+01, -2.51547441e+01, -6.55076199e+01,
       -7.58704741e+01, -5.56764216e+01, -3.29487052e+01, -1.09398792e+02,
       -1.07919054e+02, -3.84376595e+01, -4.34539888e+01, -4.52106535e+01,
       -1.03511622e+02, -4.28819280e+01, -3.56560249e+01, -5.89517156e+01,
       -1.31876387e+02,  1.00151376e+02,  9.44701452e+01,  1.68115979e+02,
       -4.53749985e+01, -2.99905611e+01, -3.68117864e+01,  7.76180166e+02,
       -4.05323383e+01,  2.44271297e+02, -3.94004790e+01,  5.03362545e+01,
       -5.11415872e+01, -1.67380313e+02,  1.85324176e+02, -1.71629128e+02,
       -4.12358632e+01, -4.24183349e+01,  1.22761862e+01, -3.90401431e+01,
       -4.56900804e+01, -3.35657507e+01, -7.63642727e+01,  7.32429179e+01,
        4.70402423e+02, -3.91455890e+01, -2.12186454e+02, -4.82466839e+01,
        3.50869166e+02,  1.82049154e+02, -8.24240203e+01, -4.09818712e+00,
       -5.00179105e+01, -4.76901744e+01,  3.60978813e+02,  8.37580586e+02,
       -3.34272153e+01,  1.95958046e+02,  3.17756465e+02,  3.36367187e+02,
       -1.20003794e+02,  7.45342025e+02,  2.97734424e+01, -4.51492321e+01,
       -3.58669166e+01, -3.20735555e+01, -2.29020838e+02, -3.46523559e+01,
        1.40203136e+01, -4.14467549e+01, -5.91425992e+01, -6.76763668e+02,
       -5.36390830e+01,  2.36948909e+03, -5.67372430e+01,  3.10016509e+02,
       -3.44229365e+01,  1.08384810e+02, -2.65393472e+01,  5.91572966e+02,
       -5.94843912e+01,  2.12141375e+02, -5.99356112e+01,  1.88903492e+03,
       -5.35244337e+01,  2.26387692e+03,  4.40713745e+02,  6.62405925e+01,
       -5.37445289e+01, -4.59918561e+01,  5.05783313e+02, -2.73997472e+01,
       -6.50765592e+01, -2.98661749e+01,  6.24184849e+01, -3.87163618e+01,
       -2.61006714e+02, -2.21337662e+02, -2.87679689e+01, -3.25613300e+01,
       -5.09852369e+01, -3.55478897e+01,  6.47227606e+02, -6.91513925e+01,
       -8.48441773e+01, -5.11641437e+01,  3.46374829e+02, -3.45305549e+01,
        1.73453544e+02, -3.30247146e+01, -6.55805238e+01, -3.84991070e+01,
        1.30144213e+02, -4.18412482e+01, -4.65868698e+01,  3.63104918e+02,
        5.04901254e+02, -8.06484759e+01, -3.36893485e+01, -2.13355994e+01,
        5.99659027e+02, -1.71881405e+01,  9.31391933e+01, -4.14833095e+01,
        7.79565144e+02, -2.71021882e+01, -4.93340180e+01, -1.93281103e+01,
       -1.50231151e+02, -3.35813804e+01, -8.47739216e+01, -2.49256432e+01,
        1.50263198e+02, -2.61782596e+01,  2.66982376e+02, -7.19498612e+01,
       -4.19466940e+01, -4.34344239e+01, -3.29918337e+01, -2.88855793e+01,
       -1.08895778e+02,  7.91144884e+01, -2.91746267e+01, -6.44210616e+01,
       -2.27343255e+01, -3.02721408e+01,  1.58069649e+02,  1.86226801e+02,
       -3.58436553e+01, -2.96818245e+02, -2.67349254e+01,  5.88909146e+00,
       -6.76034872e+01, -1.10419602e+02, -8.88844587e+01, -9.30994133e-01,
        8.58124705e+01, -3.72094798e+01, -3.97178752e+02,  1.87400573e+02,
       -1.00588403e+02, -6.44814413e+01, -1.79323291e+01, -8.21703586e+01,
       -2.50354914e+01, -2.88288526e+01, -6.53439735e+01,  5.04090962e+01,
        1.62736261e+02, -3.91795584e+01,  1.39908685e+01, -5.81808474e+01,
       -2.75355724e+01, -3.26972576e+02, -2.57756471e+01, -1.95406912e+01,
       -7.16682448e+01,  2.46134393e+02, -4.87929612e+01, -6.92674182e+01,
       -1.07897199e+02, -8.39872693e+01,  3.60343825e+02, -5.05228995e+01,
       -2.23445452e+00, -6.27796100e+01, -3.80668742e+01,  3.21038199e+02,
       -1.93958372e+01, -7.29827051e+01, -1.48361912e+02, -3.77508321e+01,
       -4.66155808e+01,  7.87774308e+02, -4.14807244e+01, -2.73703106e+01,
        6.21555242e+01, -3.91190538e+01,  5.56169711e+01, -3.24150555e+01,
       -1.03150925e+02, -2.54191063e+02, -5.30046614e+01, -9.55646300e+01,
       -3.38855534e+01,  2.49183891e+01, -8.13016764e+01, -1.02477913e+02,
       -2.89946781e+01, -3.19621464e+01, -4.63709752e+01, -5.49442357e+01,
       -2.28434243e+01,  1.34413745e+02, -3.36262587e+01, -9.36575221e+01,
       -3.96489932e+01, -2.52463832e+01,  4.01950924e+02,  2.97197179e+02,
       -4.67064649e+01,  1.45210104e+02, -2.70390984e+01,  1.06024386e+02,
       -3.38474348e+01, -1.79588890e+02,  1.86161996e+02,  1.36916039e+02,
       -3.61867193e+01,  2.47029018e+02, -8.88606719e+01, -3.99776128e+01,
       -3.21861194e+01, -4.07611528e+01, -6.38655071e+01, -5.54311977e+01,
       -2.60019640e+01, -4.50070309e+01,  3.07460605e+02, -2.39981692e+01,
       -6.96005314e+01,  5.90709934e+02, -4.19355973e+01, -3.81567980e+01,
       -3.99931988e+01, -4.05224347e+01, -2.06219332e+02, -4.63606908e+01,
       -4.49436457e+01, -8.11389466e+01, -2.44181149e+02, -2.92055699e+01,
        3.24478464e+02, -4.70767724e+01, -6.31089951e+01, -7.79125758e+01,
       -2.71567088e+01, -3.90301979e+01, -6.17131640e+01,  1.51551050e+02,
       -4.76748514e+01, -3.95555240e+01,  5.30983455e+01, -2.82313581e+01,
       -4.33343234e+01, -1.04287545e+02, -3.11756485e+01, -2.30543160e+01,
       -3.42738085e+01, -5.13233586e+01,  6.21987899e+02, -3.46983428e+02,
       -8.83694356e+01, -1.08640119e+02,  9.77273087e+02, -5.74632203e+01,
       -4.34283563e+01,  3.28972406e+02,  5.92331050e+01,  1.94423324e+02,
       -2.41036150e+01, -3.56274684e+01, -2.69363888e+01, -7.05121705e+01,
       -4.46322330e+01,  1.12172651e+02])

In [182]:
target

array([ 4.88822346e+01, -8.62619158e+01, -4.57699228e+01, -3.91313886e+01,
       -3.73808188e+01, -4.00261411e+01, -2.28431629e+02, -2.06275401e+01,
       -7.20660283e+01, -6.30152736e+01,  3.79642850e+02, -1.06554775e+02,
       -6.06409352e+01,  4.57945851e+01, -4.97761142e+01,  1.49673244e+02,
       -8.23362453e+01, -4.68909131e+01, -1.03990531e+02,  9.54882885e+01,
       -1.67341710e+01, -1.82214003e+02, -4.19051599e+01,  2.01621650e+02,
       -2.55607855e+01, -4.01545901e+01,  5.03319840e+02, -1.91559461e+02,
       -4.72254369e+01, -2.73555381e+01,  5.44873240e+02, -4.61755795e+01,
        8.72513641e+02,  3.14111570e+02,  1.45818313e+02, -3.80231404e+01,
       -4.03485614e+01, -4.97635474e+01, -1.81735769e+01, -5.86312509e+01,
       -6.92126273e+01, -4.90834904e+01, -2.61506479e+01, -1.02607008e+02,
       -1.01383906e+02, -3.14402663e+01, -3.65665033e+01, -3.83087468e+01,
       -9.66360926e+01, -3.62043660e+01, -2.88318266e+01, -5.20467340e+01,
       -1.25024004e+02,  1.06791522e+02,  1.00731790e+02,  1.75142233e+02,
       -3.85459433e+01, -2.33133380e+01, -2.97847804e+01,  7.82384667e+02,
       -3.37042143e+01,  2.50691399e+02, -3.23708751e+01,  5.63369598e+01,
       -4.43203836e+01, -1.60665763e+02,  1.95152909e+02, -1.62237250e+02,
       -3.07045715e+01, -3.21059964e+01,  2.20738517e+01, -2.85071385e+01,
       -3.51591967e+01, -2.32320705e+01, -6.65381578e+01,  8.35250618e+01,
        4.80025627e+02, -2.51048153e+01, -1.98538330e+02, -3.44344625e+01,
        3.64051759e+02,  1.96086521e+02, -6.87831222e+01,  9.69975482e+00,
       -3.61912563e+01, -3.36545048e+01,  3.73872549e+02,  8.50576724e+02,
       -1.93755840e+01,  2.09393099e+02,  3.31561485e+02,  3.50273259e+02,
       -1.06391520e+02,  7.58991343e+02,  4.35414386e+01, -3.13089842e+01,
       -2.20271803e+01, -1.80349947e+01, -2.11825866e+02, -1.73149264e+01,
        3.09952707e+01, -2.38999251e+01, -4.16004655e+01, -6.60512571e+02,
       -3.62962968e+01,  2.38545954e+03, -3.93874559e+01,  3.27297960e+02,
       -1.68753135e+01,  1.25325856e+02, -5.49489309e+00,  6.12248341e+02,
       -3.86621899e+01,  2.32638782e+02, -3.91090530e+01,  1.90871217e+03,
       -3.25016721e+01,  2.28329654e+03,  4.61119660e+02,  8.70264376e+01,
       -3.28939736e+01, -2.49376769e+01,  5.29608367e+02, -2.90630692e+00,
       -4.06905842e+01, -5.56412711e+00,  8.60286238e+01, -1.44151763e+01,
       -2.37529105e+02, -1.97338011e+02, -4.26144662e+00, -8.25363219e+00,
       -2.65977098e+01, -1.11543618e+01,  6.71298168e+02, -4.47612216e+01,
       -6.06847256e+01, -2.68494568e+01,  3.70357563e+02, -1.02782812e+01,
        1.97549088e+02, -8.69216893e+00, -4.11842143e+01, -1.39672370e+01,
        1.54311300e+02, -1.75125594e+01, -2.21784092e+01,  3.87198486e+02,
        5.32362316e+02, -5.27607097e+01, -5.69462852e+00,  6.67211067e+00,
        6.26908288e+02,  1.06128133e+01,  1.20562560e+02, -1.36716995e+01,
        8.06758831e+02,  8.97670353e-01, -2.14531432e+01,  8.57048528e+00,
       -1.22612815e+02, -5.73670888e+00, -5.68994329e+01,  2.75652818e+00,
        1.77825312e+02,  1.83038163e+00,  2.94608513e+02, -4.40697223e+01,
       -1.41102363e+01, -1.57717551e+01, -5.09319222e+00, -8.50797075e-01,
       -8.13477385e+01,  1.10080161e+02,  2.13424547e+00, -3.30457470e+01,
        8.77072711e+00,  1.23949299e+00,  1.88891862e+02,  2.17544917e+02,
       -4.53392108e+00, -2.65794687e+02,  4.78584168e+00,  3.65101888e+01,
       -3.62356506e+01, -7.90401203e+01, -5.77010241e+01,  3.04423379e+01,
        1.16981777e+02, -5.86618406e+00, -3.66095568e+02,  2.18542245e+02,
       -6.94923598e+01, -3.30826296e+01,  1.32348960e+01, -5.07587353e+01,
        9.97561732e+00,  5.98343175e+00, -3.04727247e+01,  8.49247267e+01,
        1.97546569e+02, -4.16402399e+00,  4.82242920e+01, -2.31599447e+01,
        7.28713847e+00, -2.92493962e+02,  8.26722506e+00,  1.53179358e+01,
       -3.67974385e+01,  2.80815046e+02, -1.39430978e+01, -3.45859870e+01,
       -7.30096094e+01, -4.93827541e+01,  3.94989307e+02, -1.56791173e+01,
        3.23371710e+01, -2.78699773e+01, -3.16925996e+00,  3.55724962e+02,
        1.91133958e+01, -3.46000777e+01, -1.10369328e+02,  5.65364423e-01,
       -8.30023508e+00,  8.25581020e+02, -2.95913378e+00,  1.11498489e+01,
        9.98070173e+01, -7.89775276e-01,  9.36153233e+01,  5.96019209e+00,
       -6.47624412e+01, -2.16016555e+02, -1.47831698e+01, -5.71418026e+01,
        4.46193424e+00,  6.29704257e+01, -4.31882784e+01, -6.43899663e+01,
        9.34887228e+00,  6.46425099e+00, -8.20285769e+00, -1.65347659e+01,
        1.89703965e+01,  1.76300803e+02,  8.39218594e+00, -5.21194801e+01,
        2.17190874e+00,  1.67802637e+01,  4.43362488e+02,  3.38246648e+02,
       -4.88336157e+00,  1.86646666e+02,  1.49844848e+01,  1.47885349e+02,
        8.02814987e+00, -1.37809979e+02,  2.27873699e+02,  1.78809472e+02,
        5.66682445e+00,  2.88597091e+02, -4.72184449e+01,  1.61294744e+00,
        9.65170988e+00,  9.40139119e-01, -2.19871522e+01, -1.34951118e+01,
        1.58423546e+01,  3.06414068e-01,  3.52499878e+02,  2.15231762e+01,
       -2.42137580e+01,  6.35627010e+02,  3.39134929e+00,  7.36898452e+00,
        5.52955464e+00,  4.36050230e+00, -1.61756436e+02, -1.03417529e+00,
        4.51634634e-01, -3.57298775e+01, -1.98982843e+02,  1.61535186e+01,
        3.69904900e+02, -1.88872550e+00, -1.80053076e+01, -3.27775240e+01,
        1.83951344e+01,  6.18189217e+00, -1.62933177e+01,  1.96696921e+02,
       -2.29140584e+00,  9.46760097e+00,  1.01582533e+02,  2.06441192e+01,
        5.48996574e+00, -5.59536407e+01,  1.78556787e+01,  2.57750428e+01,
        1.47645195e+01, -2.48813150e+00,  6.70083590e+02, -2.98469841e+02,
       -3.94883375e+01, -5.97261031e+01,  1.02591452e+03, -8.54966402e+00,
        5.42242444e+00,  3.77660470e+02,  1.07876015e+02,  2.43076768e+02,
        2.49254993e+01,  1.34239301e+01,  2.20050217e+01, -2.18174296e+01,
        4.30448131e+00,  1.60774043e+02])

In [185]:
np = MLPRegressor()

In [186]:
np.fit(X_train,y_train)

C:\Users\User\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPRegressor()

In [188]:
target1= np.predict(dft)

In [189]:
res = pd.DataFrame(target1)

In [190]:
res.index= dft.index

In [191]:
res.columns = ["revenue"]
res.to_csv("prediction_results2.csv", index = False)

In [201]:
scaler=StandardScaler()
X_trains=pd.DataFrame(scaler.fit_transform(X_train))
X_tests=scaler.transform(dft)
X_trains

,0,1,2,3,4,5,6,7,8,9,10
0,-0.346072,-0.372834,-0.189472,-0.256367,0.0,-1.328065,-1.291476,-1.674046,-1.653649,0.103533,-0.663088
1,-0.462041,-0.432742,-0.195043,-0.256367,0.0,-0.414508,-1.291476,-1.674046,-1.653649,0.103533,-0.663088
2,-0.401535,-0.392804,-0.192258,-0.256367,0.0,0.499049,-1.291476,-1.674046,-1.653649,0.103533,-0.663088
3,-0.441873,-0.392804,-0.189472,-0.256367,0.0,1.412606,-1.291476,-1.674046,-1.653649,0.103533,-0.663088
4,0.778328,0.825321,-0.105211,0.509425,0.0,-1.328065,-0.814974,-1.674046,-1.653649,0.103533,-0.663088
...,...,...,...,...,...,...,...,...,...,...,...
4566,-0.371283,-0.372834,-0.190169,-0.256367,0.0,0.499049,0.874441,1.391521,1.418954,-1.315509,1.508097
4567,-0.462041,-0.432742,-0.195043,-0.256367,0.0,1.412606,0.874441,1.391521,1.418954,-1.315509,1.508097
4568,-0.386409,-0.352865,-0.186687,-0.064919,0.0,0.499049,0.917759,1.391521,1.418954,-1.315509,1.508097
4569,-0.280524,-0.302942,-0.179027,-0.256367,0.0,-1.328065,0.917759,1.391521,1.418954,-1.315509,1.508097
4570,-0.371283,-0.332896,-0.185294,-0.256367,0.0,-1.328065,0.874441,1.391521,1.418954,-1.315509,1.508097

In [204]:
lr.fit(X_trains, y_train)
lr.predict(dft)

array([-128273.45898921, -150604.13755614, -153873.72451847,
       -154395.32311821, -154151.11800167, -154020.55209036,
        -97391.2707452 , -153231.16866523, -120901.97817046,
       -153914.23093342,  -88597.18467501, -150911.13925849,
       -151825.02707411, -123462.24323689, -154359.08358482,
       -132911.57582342, -149899.58385979, -113986.76342053,
       -150369.31708006, -148954.32635824, -153733.17315961,
       -131702.66048736, -154273.88980031,  -94143.10243218,
       -154548.31489445, -154029.68468377,  -87992.11127195,
       -115047.74343046, -153515.51614099, -154298.16391549,
       -145634.85919919, -152352.7898782 , -119960.92003044,
       -130626.99720951, -149144.68745576, -153577.99332756,
       -116894.26910215, -148492.44748326, -154270.49498417,
       -154168.48775862, -152449.88601498, -145616.32587996,
       -154570.64902721, -145804.01824708, -140531.67376375,
       -154704.91982875, -153402.79605102, -154333.81796329,
       -151355.84619609, -150420.24695752, -154632.54381614,
       -153196.21160823, -146829.21554755, -128388.90339764,
       -111647.91802704, -153100.55277808, -154778.61461035,
       -153366.6595718 , -154269.31575308,  -84180.89429869,
       -154259.25698282, -124631.84774952, -154522.60950113,
        -88675.12658297, -153739.14257761, -136292.05799025,
        -99669.22528295,  -80550.61954197, -154781.8930735 ,
       -152944.850781  ,  -97636.86177422, -154527.37215881,
       -154404.06192443, -154395.98709848, -118453.93749338,
       -140263.1005943 ,  -96356.9910905 , -154545.33635584,
       -129743.46572001, -151914.68572169, -101659.68881167,
       -153374.0130094 , -146515.33248076, -142540.6732141 ,
       -152848.59337516, -153796.67270673,  -75637.03673335,
        -64448.23032472, -154695.04966893, -124695.22603838,
       -138994.14765617, -149109.36411162, -143912.63149119,
       -140887.34180291, -139125.42619246, -154807.11294746,
       -154668.4722102 , -154664.10227447, -133843.18750786,
       -153762.84455192, -130034.06985901, -154817.82146757,
       -154181.82688493,  -53187.43554289, -154044.6703422 ,
        -22671.3636453 , -154319.8228532 , -136657.58386879,
       -154046.82866654, -125276.27800985, -154160.04144469,
       -125845.23131489, -152333.45996955, -130353.85080923,
       -152343.7757677 ,  -27397.04256708, -152080.34060153,
        -19395.4887058 , -119602.6108962 , -138617.10743563,
       -154062.63453923, -154455.06877433, -116772.38128072,
       -153914.81854894, -153542.20312814, -154577.94362714,
       -100923.3011594 , -153810.73836419,  -90693.22213171,
       -119551.67002724, -153948.6516846 , -153953.02162033,
       -151991.56030249, -151995.20282136, -117596.00400744,
       -150470.35131595, -147704.84748261, -152439.24269075,
       -108844.65256153, -154439.08146001, -143031.63782145,
       -154650.15421422, -151764.34426339, -154781.53927455,
       -147985.13084261, -154775.59341213, -153064.86547089,
       -139208.49778244, -128771.39329584, -153562.2962887 ,
       -153796.27097223, -154072.18026091, -108459.03313715,
       -153282.0400581 , -109824.06853965, -154096.42501527,
       -101834.64052669, -153032.70822816, -151078.50258725,
       -151999.06368215, -127328.44113945, -154678.4342094 ,
       -148916.75470231, -148877.11707372, -117119.31576407,
       -154591.53788844, -145109.56044123, -150077.87839489,
       -154793.55760916, -148458.92452891, -151745.44456435,
       -154653.43267737, -138360.41076219, -132020.42970062,
       -154593.2404249 , -151980.9244105 , -154324.03377632,
       -154218.46939705, -118032.58784758, -153072.14758264,
       -153574.39998846, -121356.75458084, -154619.81788363,
       -100610.82284791, -149789.74268646, -150872.75189456,
       -132306.84542141, -147685.29368942, -146857.19482212,
       -154292.16417866, -123027.90156101, -146469.79204835,
       -142320.5900159 , -151777.98248658, -148324.14465244,
       -152724.33490174, -154596.51888805, -154600.88882377,
       -151318.27470212, -136512.08597379, -152298.63240154,
       -154358.98705079, -111126.58133237, -154643.69858227,
       -154366.99950539, -117295.23516979,  -93421.47259943,
       -148183.4812849 , -149410.90271266, -129527.26410811,
       -154703.29002764, -148650.48273768, -149730.34917669,
       -122135.62691768, -145352.54001733, -154944.60940298,
       -138850.01080706, -152438.61454554, -150721.26932936,
       -147526.60024895, -154074.49386123, -152129.09046313,
       -135551.73242004, -154744.29221872, -153979.97269697,
       -111458.89066389, -154631.47216251, -153976.35953891,
       -102063.58329691, -154778.12535438, -116098.18120481,
       -149512.42750681, -151025.78763269, -131996.66310926,
       -151813.26611165, -152490.55689744, -154045.51000477,
       -116029.12534207, -145434.89848222, -141003.94782272,
       -154415.91109689, -153353.62249997, -148087.95129592,
       -151662.06860403, -154086.51219584, -150727.8836783 ,
       -154750.45642306, -138821.59372864, -154116.70281263,
       -154632.44728211, -123353.75198153,  -90784.11546675,
       -153995.0511528 , -109856.02170002, -153986.89367899,
       -147105.44045541, -148871.63656137, -140397.92482036,
       -148816.36577047, -147793.77080649, -154317.99511649,
       -115515.9797213 , -147813.63253503, -140340.57666798,
       -154022.21100918, -150739.27748828, -148637.8922622 ,
       -154159.56857547, -154158.72278292, -153971.75215722,
       -135770.68277374, -154619.46408468, -151870.89332444,
       -122244.25537722, -154386.30218315, -154384.81798862,
       -153747.9216091 , -106026.65221984,  -87070.89712504,
       -154002.69955168, -150849.02212759, -152061.11305248,
       -133449.89468514, -154451.83949095, -149167.1271257 ,
       -148142.85271174, -120966.35600807, -146759.04834132,
       -154691.67467176, -151394.13806484, -152455.78825977,
       -143693.08415581, -148647.52460539, -154636.67150404,
       -132454.39371841, -150149.9789121 , -154638.15569857,
       -119655.66004797, -154518.66236308, -154122.4405899 ,
       -154793.81487408, -154542.90711745,  -92236.22339927,
       -119487.80858604, -149702.69050215, -152484.68366314,
       -119208.48495443, -150388.13511203, -153542.56931379,
       -145217.055585  , -122998.00970178, -145978.36061705,
       -154637.42828171, -154824.76226855, -153767.60038503,
       -149841.44324809, -153131.60580239, -139758.66251722])